body {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

dialog {
  width: 400px;
}

button {
  border: 2px solid purple;
  border-bottom-width: 8px;
  border-top-width: 1px;
  padding: 0.25rem 0.75rem;
  font-size: 1.125rem;
  transition: transform 0.2s ease-in;
  cursor: pointer;

  &:active {
    transform: translateY(4px);
  }
}

dialog::backdrop {
  background-image: url("https://fastly.picsum.photos/id/705/1980/1080.jpg?hmac=qMTMLtP5I7pawGY-MsLmtlHC8yllBWq7cl58x8YCIwQ");
  filter: blur(2px);
}
